.container {
  display: grid;
  grid-template-rows: 1fr;
  max-width: 20.4375rem;
  border-radius: 0.5rem;

  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
}

@media (min-width: 59rem) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 57.5rem;
  }
}
